-dontpreverify
-dontoptimize
-optimizationpasses 5
-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-dontskipnonpubliclibraryclassmembers
-dontpreverify
-verbose
-keepattributes Exceptions,SourceFile,LineNumberTable

-dontwarn android.support.**
-dontwarn com.jiubang.ggheart.innerwidgets.goswitchwidget.GoSwitchUtils

#-optimizations !code/simplification/arithmetic,!field/*,!class/merging/*

-keep public class * extends android.app.Activity
-keep public class * extends android.app.Application
-keep public class * extends android.app.Service
-keep public class * extends android.content.BroadcastReceiver
-keep public class * extends android.content.ContentProvider
-keep public class * extends android.app.backup.BackupAgentHelper
-keep public class * extends android.preference.Preference
-keep public class * extends android.view.View
-keep public class com.android.vending.licensing.ILicensingService

-keepclasseswithmembernames class * {
    native <methods>;
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet);
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet, int);
}

-keepclassmembers class * extends android.app.Activity {
   public void *(android.view.View);
}

-keepclassmembers enum * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

-keep class * implements android.os.Parcelable {
  public static final android.os.Parcelable$Creator *;
}

-keep class * implements java.io.Serializable {
  public *;
}

###for BadParcelableException
-keep class * implements android.os.Parcelable {
    public static final android.os.Parcelable$Creator *;
}

###### 第三方jar包不混淆
-keepattributes Signature
-keep class com.facebook.** { *;}
-keep class com.google.android.apps.analytics.** { *;}
-keep class com.nineoldandroids.** { *;}
-keep class android.support.v4.** { *;}
-keep class com.google.ads.** { *;}


# com.jiubang.ggheart.components包下的类需要与xml映射不混淆
-keep public class com.jiubang.ggheart.components.*

# GoWidgetConstant 不混淆
-keep class com.jiubang.ggheart.apps.gowidget.GoWidgetConstant { *; }

# facebook GoFacebookUtil 不混淆
-keep class com.jiubang.ggheart.components.facebook.GoFacebookUtil { *; }
-keep class com.jiubang.ggheart.components.facebook.GoFacebookUtil$ApplyAction { *; }
-keep class com.jiubang.ggheart.components.facebook.GoFacebookUtil$PostResponse { *; }
-keep class com.jiubang.ggheart.components.facebook.GoFacebookUtil$ThemeGraphObject { *; }
-keep class com.jiubang.ggheart.components.facebook.GoFacebookUtil$ShareAction { *; }
-keep class com.jiubang.ggheart.components.facebook.GoFacebookUtil$AppGraphObject { *; }
#-keep class com.jiubang.ggheart.components.facebook.FriendsPicker { *; }

# scrollable widget 包不混淆
-keep public class mobi.intuitit.android.content.*
-keep public class mobi.intuitit.android.widget.*

# 列表排序需要用到反射查找方法进行比较，不能对其混淆 
-keep class * extends com.jiubang.ggheart.data.info.ItemInfo { public *; }
-keep class * extends com.jiubang.ggheart.data.info.AppItemInfo { public *;}
-keep class * extends com.jiubang.ggheart.data.info.FunItemInfo { public *;}
-keep class * extends  com.jiubang.ggheart.data.theme.bean.ThemeBean { public *;}
-keep class com.jiubang.ggheart.apps.desks.appfunc.model.FuncSearchResultItem { public *;}
-keep class com.jiubang.ggheart.appgame.appcenter.bean.AppInfo{public *;}
-keep class com.go.util.file.media.FileInfo { public *;}
-keep class * extends com.go.util.file.media.FileInfo { public *;}
-keep class com.jiubang.ggheart.apps.appmanagement.bean.AppInfo { public *;}
-keep class com.jiubang.ggheart.components.gohandbook.GoHandBookMainActivity$DemoJavaScriptInterface { public *;}
-keep class com.jiubang.ggheart.components.gohandbook.GoHandBookItemWebView$DemoJavaScriptInterface { public *;}
-keep class com.jiubang.ggheart.apps.desks.diy.messagecenter.MessageElementClickInterface{ public *;}
-keep class com.jiubang.ggheart.apps.desks.diy.themescan.ThemeVipPage$WebViewClickInterface{ public *;}
-keep class com.jiubang.ggheart.apps.desks.diy.QuestionnaireActivity$WebviewExchangeInterface{ public *;}
-keep class com.jiubang.ggheart.data.DatabaseHelper{ 
  public void onDowngrade(android.database.sqlite.SQLiteDatabase, int, int);
}

# 内置的GOWidget不混淆public接口
-keep class com.jiubang.ggheart.apps.gowidget.gostorewidget.GoStoreWidget { public *;}
-keep class com.jiubang.ggheart.apps.gowidget.gostorewidget.GoStoreWidget41 { public *;}
-keep class com.jiubang.ggheart.apps.gowidget.gostorewidget.GoStoreWidget42 { public *;}
-keep class com.jiubang.ggheart.appgame.widget.AppGameWidget { public *;}
-keep class com.jiubang.ggheart.apps.gowidget.gostorewidget.widget41.GoStoreWidget { public *;}
-keep class com.jiubang.ggheart.gorecomm.widget.GoRecommWidget { public *;}
-keep class com.jiubang.ggheart.innerwidgets.goswitchwidget.default2d.GoSwitchWidget { public *;}
# 拼音搜索库
-keep class com.jb.util.pySearch.SearchResultItem
-keep class com.jb.util.pySearch.**{ *;}
-keep class com.jb.util.pylib.**{ *;}

# 继承IAidlDownloadListener.Stub的类不混淆
-keep class com.jiubang.ggheart.appgame.download.IAidlDownloadListener {public *;}
-keep class com.jiubang.ggheart.appgame.download.DefaultDownloadListener {public *;}
-keep class com.jiubang.ggheart.appgame.base.utils.AppDownloadListener {public *;}
-keep class com.jiubang.ggheart.apps.appmanagement.download.ApplicationDownloadListener {public *;}
-keep class com.jiubang.ggheart.apps.appmanagement.download.RecommAppDownloadListener {public *;}
-keep class com.jiubang.ggheart.apps.desks.diy.messagecenter.MessageCenterDownloadListener {public *;}



-keep class com.gau.go.launcherex.theme.cover.ui.ILauncherCallback { *; }
-keep class * implements com.gau.go.launcherex.theme.cover.ui.ILauncherCallback { *; }

-keep class com.jiubang.core.** { *; }
-keep class com.go.util.file.media.** { public *; protected *; }
-keep public class com.jiubang.ggheart.plugin.mediamanagement.inf.** { public *; protected *; }
-keep public class com.jiubang.ggheart.plugin.mediamanagement.** { public *; protected *; }
-keep public class com.jiubang.ggheart.plugin.theme.** { public *; protected *; }
-keep public class com.jiubang.ggheart.plugin.theme.inf.** { *; }
-keep public class com.jiubang.ggheart.plugin.common.** { *; }
-keep class org.acra.CrashReport { *; }
-keep class org.acra.ErrorReporter { *; }
-keep class * implements java.io.FilenameFilter { *; }

# ShellEngine
-keep public class com.go.gl.** { public *; protected *;}
-keep class com.go.gl.ICleanup { *;}
-keep class com.go.gl.graphics.TextureListener { *;}
-keep class com.go.gl.graphics.TextureLoadedListener { *;}
-keep class com.go.gl.scroller.ScreenScrollerListener { *;}
-keep class com.go.gowidget.core.IGoWidget3D { *;}


# innerClasses
-keep class com.go.gl.animation.Animation$AnimationListener { *;}
-keep class com.go.gl.view.GLView$On*Listener { *;}
-keep class com.go.gl.view.GLViewGroup$On*Listener { *;}
-keep class com.go.gl.widget.GLAdapterView$On*Listener { *;}
-keep class com.go.gl.widget.GLAbsListView$On*Listener { *;}
-keep class com.go.gl.widget.GLAbsListView$RecyclerListener { *;}
-keep class com.go.gl.view.GLLayoutInflater$Factory { *;}
-keep class com.go.gl.view.GLLayoutInflater$Filter { *;}
-keep class com.go.gl.MemoryManager$MemoryListener { *;}
-keep class com.go.gl.animation.Smoother$SmoothListener { *;}

# keep child extends views
-keep public class * extends com.go.gl.view.GLView
-keep public class * extends com.go.gl.view.GLViewGroup
-keep public class * extends com.go.gl.animation.Animation
-keep public class * extends com.go.gl.widget.GLAdapterView
-keep public class * extends com.go.gl.widget.GLAbsListView
-keep public class com.go.gowidget.core.** { *;}

# 3d widget entry
-keepclassmembers class * extends android.app.Activity {
   public ** create3DWidget(android.content.Context, com.go.gl.view.GLLayoutInflater, android.os.Bundle);
}

#3d plugin
-keep class com.jiubang.shell.ggheart.plugin.ShellAdmin
-keep class com.jiubang.shell.ggheart.plugin.ShellAdmin{ *; }
-keep class com.jiubang.ggheart.plugin.** { *;}
-keep public class * extends com.jiubang.ggheart.plugin.BasePluginFactory { *;}
-keep class * implements com.jiubang.ggheart.plugin.ISecurityPoxy { *;}
-keep class com.jiubang.shell.ShellFrame
-keep class * implements com.jiubang.shell.IShell

#siderbar plugin
-keep class com.jiubang.sidebar.SideBarAdmin
-keep class com.jiubang.sidebar.SideBarAdmin{ *;}
-keep class com.jiubang.sidebar.SideBarController
-keep class com.jiubang.sidebar.SideBarController{ *; }
-keep class com.jiubang.sidebar.UiController
-keep class com.jiubang.sidebar.UiController{ *;}
-keep class * implements com.jiubang.ggheart.sidebar.ISideBarController


# 收费KEY
-keep class com.gau.go.launcherex.key.ndk.NdkUtil

-keep class * extends com.jiubang.ggheart.apps.desks.diy.filter.core.AbsFilterHandler

-keep class com.jiubang.ggheart.apps.desks.diy.ModuleOperation { *; }


# for logcat输出，避免log输出，在正式release打包时，会删除掉log输出.该语句语法含义为假定调用不产生任何影响，proguard代码优化时会将其代码去掉
#-assumenosideeffects class android.util.Log {
#    public static *** d(...);
#    public static *** v(...);
#    public static *** w(...);
#    public static *** e(...);
#    public static *** i(...);
#}
# getjar SDK
-keepclasseswithmembers public class com.getjar.sdk.rewards.GetJarJavaScriptInterface {
	<fields>;
    <methods>;
}

-keepclasseswithmembers public class com.getjar.sdk.rewards.JavaScriptAPI{
	<fields>;
    <methods>;
}

-keepclassmembers class * {
    @android.webkit.JavascriptInterface <methods>;
}

-dontwarn android.webkit.*
